{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
