{% extends "base.html.twig" %}

{% block content %}
    {% if summaries|length < 1 %}
        <p class="text-danger">No tracked players are currently playing Counter-Strike.</p>
    {% else %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for summary in summaries %}
                <div class="col">
                    {% include "partials/_player_card.html.twig" with { summary } %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
